<footer class="footer" id="footer">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="pre_title">OUR TEAM</div>
            <h2>The Best Cleaning company, Algarve</h2>
         </div>
         <div class="col-lg-3">
            <img src="" alt="">
         </div>
         <div class="col-lg-9">
            <div class="form_text">
               <strong>Luxury Clean, Stress-Free Life!</strong>
               Book your professional cleaning today and enjoy a spotless home!
               Fast / Reliable / 100% Satisfaction Guaranteed
            </div>
            <form action="">
               <input type="email" placeholder="Your E-mail here...">
               <button type="submit">Subscribe Our Newsletter</button>
            </form>
         </div>
         <div class="col-lg-2">
            <div class="footer_logo">
               <a href="#"><img src="img/footer-logo.svg" alt="Footer logo"></a>
            </div>
         </div>
         <div class="col-lg-5">
            <p class="copyright">© 2020 Epixelab. All rights reserved.</p>
         </div>
         <div class="col-lg-5">
            <ul class="nav footer_list">
               <li><a href="#">Portfolio</a></li>
               <li><a href="#">How it Works</a></li>
               <li><a href="#">Pricing</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Login</a></li>
            </ul>
         </div>
      </div>
   </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>