<header class="header" id="header">
   <div class="language">
      <input type="hidden" name="language" value="">
   </div>

   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <div class="logo">
               <a href="/"><img src="img/logo.svg" alt="Logo"></a>
            </div>
         </div>
         <div class="col-lg-7 menu_box">
            <ul class="nav main_menu">
               <li><a href="#">our service</a></li>
               <li><a href="#">about us</a></li>
               <li><a href="#">how we work</a></li>
               <li><a href="#">contacts</a></li>
            </ul>
         </div>
         <div class="col-lg-2">
            <a href="#" class="franchise">franchise</a>
            <div class="burger">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
      </div>
   </div>
</header>