<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mary Cleaning</title>
   <link rel="icon" type="image/png" href="./img/favicons/favicon-96x96.png" sizes="96x96" />
   <link rel="icon" type="image/svg+xml" href="./img/favicons/favicon.svg" />
   <link rel="shortcut icon" href="./img/favicons/favicon.ico" />
   <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon.png" />
   <link rel="manifest" href="./img/favicons/site.webmanifest" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
           href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
           rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
         integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
         crossorigin="anonymous" referrerpolicy="no-referrer"/>
   <link rel="stylesheet" href="css/libs/aos.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/media.css">
</head>
<body>
<header class="header" id="header">
   <div class="language">
      <input type="hidden" name="language" value="">
   </div>
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-6">
            <div class="logo">
               <a href="/"><img src="img/logo.svg" alt="Logo"></a>
            </div>
         </div>
         <div class="col-lg-7 menu_box">
            <ul class="nav main_menu">
               <li><a href="#">our service</a></li>
               <li><a href="#">about us</a></li>
               <li><a href="#">how we work</a></li>
               <li><a href="#">contacts</a></li>
            </ul>
            <div class="language_mobile">
               <input type="hidden" name="language" value="">
            </div>
         </div>
         <div class="col-lg-2 col-6">
            <a href="#" class="franchise">franchise</a>
            <div class="burger">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
      </div>
   </div>
</header>