@use "_grid";
@use "_reset";
@use "_button";

:root {
  --font-family-main: "ABeeZee", sans-serif;
  --font-family-secondary: "Afacad", sans-serif;
  --font-size: 18px;
  --font-weight: 400;
  --main-color-1: #3793A2;
  --secondary-color-1: #22616B;
  --btn-color: #EDAD03;
}

body {
  font-family: var(--font-family-main);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--main-color-3);
  overflow-x: hidden;
  line-height: 28.5px;
}

.header {
  .container {
    position: relative;
  }

  .row {
    align-items: center;
  }
}

.language {
  position: absolute;
  left: 3%;
  top: 24px;
  cursor: pointer;
  z-index: 1;

  &:after {
    content: "";
    background: url("../img/arrow.svg");
    background-position: center center;
    width: 7px;
    height: 4px;
    position: absolute;
    bottom: -7px;
    right: 0;
    transition: all 0.3s ease;
  }

  &.active {
    &:after {
      transform: rotate(180deg);
    }
  }

  .language__options {
    padding: 20px;
    box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    position: absolute;
    top: 0;
    width: max-content;
    left: 40px;
    display: none;
  }

  .language__option.selected {
    margin-bottom: 10px;
  }
}

.language_mobile {
  display: none;

  &:after {
    content: "";
    background: url("../img/arrow.svg");
    background-position: center center;
    width: 7px;
    height: 4px;
    position: absolute;
    bottom: -7px;
    right: 0;
    transition: all 0.3s ease;
  }

  &.active {
    &:after {
      transform: rotate(180deg);
    }
  }

  .language__options {
    padding: 20px;
    box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    position: absolute;
    top: 0;
    width: max-content;
    left: 40px;
    display: none;
  }

  .language__option.selected {
    margin-bottom: 10px;
  }
}

.logo {
  max-width: 159px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
  }
}

.menu_box {
  .main_menu {
    column-gap: clamp(15px, 2vw, 33px);

    a {
      color: var(--main-color-1);
      text-decoration: none;
      position: relative;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        background: var(--main-color-1);
        position: absolute;
        left: -100px;
        opacity: 0;
        visibility: hidden;
        top: 50%;
        margin-top: -2px;
        border-radius: 50%;
        transition: all 0.3s ease;
      }

      &:hover {
        &::before {
          left: -8px;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.franchise {

  color: var(--main-color-1);
  text-decoration: none;
  position: relative;

  &::before {
    content: "";
    width: 4px;
    height: 4px;
    background: var(--main-color-1);
    position: absolute;
    left: -100px;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    margin-top: -2px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  &:hover {
    &::before {
      left: -8px;
      visibility: visible;
      opacity: 1;
    }
  }
}

.section_01 {
  position: relative;

  h1 {
    font-size: 70px;
    font-weight: 400;
    color: var(--secondary-color-1);
    line-height: 81px;
    margin-bottom: 16px;
  }

  .description_bold_text {
    font-size: 32px;
    font-weight: 700;
    line-height: 28.5px;
    color: var(--main-color-1);
    font-family: var(--font-family-secondary);
    margin-bottom: 20px;
  }

  p {
    font-size: 22px;
    font-weight: 400;
    color: var(--main-color-1);
    margin-bottom: 30px;
  }

  .buttons_row {
    display: flex;

    img {
      transition: all .5s ease;
    }

    .more {
      display: flex;
      margin-left: 21px;

      a {
        margin-right: 25px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        &:after {
          content: "";
          height: 60px;
          width: 60px;
          position: absolute;
          left: -10px;
          top: -10px;
          border: 4px solid transparent;
          border-top: 4px solid rgb(255, 102, 0);
          border-left: 4px solid rgb(255, 102, 0);
          border-radius: 50%;
          transform: rotate(-45deg);
        }

        &:before {
          content: "";
          height: 60px;
          width: 60px;
          position: absolute;
          right: -10px;
          top: -10px;
          border: 4px solid transparent;
          border-top: 4px solid rgb(255, 102, 0);
          border-right: 4px solid rgb(255, 102, 0);
          border-radius: 50%;
          transform: rotate(-135deg);
          transition: all .5s ease;
        }

        &:hover {
          &:before {
            transform: rotate(45deg);
          }
        }

        &:hover {
          img {
            filter: brightness(-50%);
          }
        }
      }
    }
  }
}

.custom_labels {
  .labe {
    display: flex;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    background: rgb(255, 255, 255);

    &:first-child {
      max-width: 275px;
      height: 73px;
      width: 100%;
      position: absolute;
      left: 55%;
      transform: translate(-50%);
      top: 0;
      padding: 15px;

      img {
        width: 40px;
      }

      .labe_text_side {
        margin-left: 18px;

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          color: var(--secondary-color-1);
          margin-bottom: 9px;
        }

        img {
          width: 14px;
          margin-right: 8px;
        }

        .rate {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          display: flex;

          span {
            color: rgb(138, 137, 142);
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            margin-left: 7px;
          }
        }
      }
    }

    &:last-child {
      max-width: 217px;
      height: 53px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      padding: 15px;
      font-size: 12px;
      font-weight: 400;
      color: var(--secondary-color-1);

      img {
        width: 14px;
        margin-right: 8px;
        margin-left: 17px;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary-color-1);
      }
    }
  }
}

.main_images_box {
  position: relative;
  padding-left: 0;

  .lamp_img {
    position: absolute;
    left: -53%;
    top: 55px;
  }

  .main_img {
    max-width: unset;
    width: 110%;
    margin-left: -10%;
  }

  .main_arrow {
    position: absolute;
    right: -10px;
    top: -30px;
  }
}

.pre_title {
  color: rgb(138, 137, 142);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.45em;
  text-align: center;
}

h2 {
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  margin-top: 19px;
  color: var(--secondary-color-1);
}

.section_02 {
  h2 {
    margin-bottom: 108px;
  }

  .col-lg-4:nth-child(2) {
    .custom_card {
      img {
        margin-top: -98px;
        margin-bottom: 5px;
      }
    }
  }

  .col-lg-4:nth-child(3), .col-lg-4:nth-child(4) {
    .custom_card {
      img {
        margin-top: -59px;
        margin-bottom: 27px;
      }
    }
  }

  .col-lg-4:nth-child(3) {
    .custom_card {
      p {
        font-size: 16px;
      }
    }
  }

  .col-lg-4 {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h4 {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    color: var(--main-color-1);
  }

  .col-lg-8 {
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: var(--main-color-1);
    }
  }
}

.custom_card {
  border-radius: 28px;
  box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 352px;
  width: 100%;
  min-height: 508px;
  transition: all .4s ease;

  &:hover {
    transform: translateY(-10px);
  }

  h3 {
    font-size: clamp(28px, 2vw, 32px);
    font-weight: 400;
    color: var(--secondary-color-1);
    margin-bottom: 23px;
    text-align: center;
  }

  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: var(--main-color-1);
    text-align: center;
    margin-bottom: 27px;
  }
}

.section_03 {
  .pre_title {
    margin-bottom: 61px;
  }

  .col-lg-4:nth-child(2) {
    .custom_card {
      img {
        margin-top: -68px;
        margin-bottom: 9px;
      }
    }
  }

  .col-lg-4:nth-child(3), .col-lg-4:nth-child(4) {
    .custom_card {
      img {
        margin-top: -52px;
        margin-bottom: 20px;
      }
    }
  }

  .col-lg-4:nth-child(3) {
    .custom_card {
      p {
        font-size: 16px;
      }
    }
  }

  .col-lg-4 {
    margin-bottom: 54px;
  }
}

.section_04 {
  margin-top: 50px;

  h2 {
    margin-bottom: 65px;
  }
}

.review_box {
  display: flex;

  .left {
    margin-right: 56px;
    min-width: 181px;

    img {
      min-width: 90px;
      height: 90px;
      border-radius: 50%;
      margin-left: auto;
      margin-bottom: 14px;
    }

    .name {
      font-size: 14px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 2px;
      text-align: left;
      text-transform: uppercase;
      color: rgba(11, 27, 53, .3);

    }
  }

  .right p {
    color: rgb(55, 147, 162);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.section_05 {
  padding: 126px 0 420px;
  margin-bottom: -300px;
  background-color: #fcf8f1;
  margin-top: -120px;

  .col-lg-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section_06 {
  h2 {
    margin-bottom: 42px;
  }
}

.team_box {
  border: 2px solid rgb(235, 234, 237);
  border-radius: 10px;
  max-width: 237px;
  width: 100%;
  height: 237px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;

  img {
    width: 76.86px;
    height: 76.86px;
    border-radius: 50%;
  }

  .team_social {
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 39px;

    li {
      width: 100%;
      height: 38.75px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child, &:nth-child(2) {
        border-top: 2px solid rgb(235, 234, 237);
        border-right: 2px solid rgb(235, 234, 237);
      }

      &:last-child {
        border-top: 2px solid rgb(235, 234, 237);
      }
    }

    li a {
      font-size: 22px;
      font-weight: 400;
      color: rgba(21, 20, 57, 0.4);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }

  .team_name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
    color: rgb(30, 14, 98);
  }
}

.footer {
  padding-top: 67px;
  padding-bottom: 41px;
  h2 {
    color: rgb(11, 27, 53);
    margin-bottom: 51px;
  }

  .form_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.5px;
    margin-bottom: 27px;
  }

  strong {
    display: block;
  }

  form {
    margin-bottom: 47px;
    input {
      border-radius: 49px;
      box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
      background: rgb(255, 255, 255);
      border: 1px solid rgba(0, 0, 0, .2);
      padding-left: 67px;
      padding-top: 24px;
      padding-bottom: 24px;
      width: 100%;
      color: black;
      margin-bottom: 27px;

      &::placeholder {
        font-size: 24px;
        font-weight: 400;
        line-height: 28.5px;
        color: black;
      }
    }

    button {
      width: 100%;
      height: 49px;
      border-radius: 10px;
      background: rgb(237, 173, 3);
      border: none;
      cursor: pointer;
      position: relative;
      transition: all .5s ease;
      color: white;
      &:after {
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 0;
        background-color: rgba(255, 255, 255, .1);
        transition: all .5s ease;
        border-radius: 10px;
      }

      &:hover {
        box-shadow: 0 0 5px #ca9303;

        &:after {
          width: 100%;
        }
      }
    }
  }
  .col-lg-2:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .after_footer {
    border-top:2px solid rgba(235, 234, 237,.8);
    align-items: center;
  }
  .copyright {
    font-size: 16px;
    font-weight: 400;
  }
  .footer_list {
    column-gap: clamp(19px,1.5vw,39px);
    a {
      color: rgb(30, 14, 98);
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
    }
  }
}